body {
    background: radial-gradient(#0069AB, #092F5A);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
h1,h2,h3,h4,h5 {font-weight: 500;}

.snowfall {
    position: absolute;
    z-index: 1;
}
body .container {
    position: relative;
    z-index: 2;
}
section#instructions h2.title {
    font-size: 30px;
    margin-bottom: 35px;
}
ol.instruct_list {
    padding-left: 21px;
}
ol.instruct_list li {
    margin-bottom: 10px;
}
section#intro h1.title {
    font-size: 60px;
    font-weight: 400;
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}
.zim_btn {
    background-color: #C1CBD5;
    color: #0069AB;
    text-align: center;
    max-width: 180px;
    width: 100%;
    margin: auto;
    padding: 15px;
    border-radius: 12px;
    font-weight: normal;
}
h2.title {
    font-size: 58px;
    font-weight: 400;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link:focus-visible, .nav-tabs .nav-link.active:focus-visible {
    outline: none;
}
.tabbed_sec #nav-tab .nav-link {
    padding: 8px 20px;
    max-width: 200px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 12px 12px 0 0;
}
.tabbed_sec #nav-tab .nav-link.active {
    background-color: #FFFFFF;
    color: #092F5A;
    opacity: 0.75;
    border-color: transparent;
}
#nav-onerecp-tab {
    margin-right: 20px;
}
.tabbed_sec .tab-content {
    background-color: rgb(255 255 255 / 75%);
    color: #092F5A;
    padding: 25px 40px;
    border-radius: 0 0 12px 12px;
}
.tab-content .inner {
    font-size: 17px;
    font-weight: 400;
}
.text_sec .zimmer_logo {
    position: absolute;
    bottom: 0;
}
.inner .sendvia {
    display: flex;
    align-items: center;
}
.inner .sendvia label,
.inner .sendvia p {
    margin-bottom: 0;
}
.inner .sendvia input {
    margin: 0 5px 0 20px;
}
.nav-tabs {
    border-bottom: 0;
}

/* input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: transparent;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #092F5A;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    background-color: #092F5A;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #092F5A;
} */
form {
    margin-top: 15px;
    display: none;
}
form.show {display: block;}
form .form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
form .form_field label {
    margin-bottom: 2px;
}
form .form_field input,
form .form_field textarea {
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    font-size: 17px;
    padding: 3px 5px;
}
form .form_field input {
    max-width: 350px;
}
form .form_field input[type="file"] {
    background-color: transparent;
}
form .form_field input:focus-within,
form .form_field textarea:focus-within {
    outline: none;
}
form .form-submit .submit {
    background-color: #0069AB;
    color: #FFFFFF;
    border-radius: 10px;
    border: 0;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}
form .form-submit .submit img {
    padding-right: 5px;
}
a.dl_link {
    font-weight: bold;
    color: #092F5A;
}
a.dl_link img {
    margin-bottom: 3px;
    margin-right: 10px;
}
a.dl_link:hover {
    text-decoration: underline;
}
form#multiple-email .form-email {
    margin-top: 30px;
}
img.zimmer_logo {
    max-width: 290px;
}
section#generator .text_sec {
    padding-top: 70px;
}
.mobile {
    display: none;
}

/** MEDIA QUERIES RESPONSIVE **/
@media only screen and (max-width: 1199px) {
    h2.title {
        font-size: 50px;
    }
}
@media only screen and (max-width: 767px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .text_sec p.desc {
        margin-bottom: 50px;
    }
    img.zimmer_logo.mobile {
        margin-top: 20px;
    }
    .tabbed_sec {
        margin-top: 0;
    }
}